@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
    font-family: 'Outfit', sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}  
@media (max-width: 1024px) { body.mobile-chat-open #mobile-bottom-nav { display: none !important; } } 
  
body.mobile-chat-open #floating-chat-toggle { display: none !important; } 
  
body.chat-modal-active #floating-chat-toggle { display: none !important; } 
